* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #55a412;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo-img {
    width: 120px;
    height: 70px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

nav a:hover {
    background-color: #004d26;
    border-radius: 5px;
}



.hero {
    display: flex;
    height: 90vh;
    width: 100%;
}


.hero-left {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.hero-left h2 {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}


.hero-right {
    width: 50%;
    background-image: url('../images/fondo_institucion.png');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.btn_group {
    background-color: #55a412;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    width: fit-content;
}

.btn_group:hover {
    background-color: #004d26;
}


.info-section {
    padding: 50px 80px;
    text-align: center;
    background-color: #f3f3f3;
}

.info-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 20px;
    margin-bottom: 40px;
}


.noticias {
    text-align: center;
    padding: 50px 20px;
    background-color: #f3f3f3;
}

.noticias h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    background-color: white;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}

.carousel-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.55);
    color: white;
    padding: 15px;
}

.carousel-text h3 {
    margin-bottom: 5px;
}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(85,164,18,0.9);
    color: white;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
}

.carousel-btn:hover {
    background-color: #004d26;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #55a412;
    color: white;
    margin-top: 40px;
}
