* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #55a412;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo-img {
    width: 120px;
    height: 70px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

nav a:hover {
    background-color: #004d26;
    border-radius: 5px;
}



main {
  padding: 50px 80px;
  background-color: #f3f3f3;
}

h2 {
  color: #55a412;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
}

section {
  background: white;
  padding: 30px 40px;
  margin-bottom: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

ul li {
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 1.6;
}

.carousel-inner img {
  border-radius: 12px;
  height: 450px;
  object-fit: cover;
}

.carousel {
  max-width: 900px;
  margin: auto;
}

footer {
    background-color: #55a412;
    color: white;
    padding: 20px;
    text-align: center;

}

footer p {
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
}
